<html>
<head>
  <title>Mon title</title>
  <link rel="stylesheet" href="css/accueil.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
  <a href="/admins/signOut" class='btn btn-danger '> Log Out</a>
</div>

  <div class="container-fluid">

    <h1 class='text-center card-header'>Accueil</h1>

    <div class="d-flex flex-row h-50 justify-content-center border rounded element"> 
      <div class="d-flex flex-wrap align-items-center justify-content-center" >

        <div class="card rubrique m-5">
          <label class="card-title text-center">Ajouter Evenements</label>
          <a id='addevent' class="btn btn-dark" type="button" href="/events/add" > Allez</a> 
        </div>

        <div class="card rubrique m-5">
          <label class="card-title text-center">Ajouter Produit</label>
          <a id='addpost' class="btn btn-dark" type="button" href="/products/add" > Allez </a> 
        </div>

        <div class="card rubrique m-5">
          <label class="card-title text-center">Add medias</label>
          <a id='addmedia' class="btn btn-dark" type="button" href="/medias/add"> Allez </a> 
        </div>

        <div class="card rubrique m-5">
          <label class="card-title text-center">Ajouter Gymnase</label>
          <a id='addgym' class="btn btn-dark" type="button" href="/gyms/add"> Allez </a> 
        </div>

        <div class="card rubrique m-5">
          <label class="card-title text-center">Ajouter Membre</label>
          <a id='addgym' class="btn btn-dark" type="button" href="/members/add"> Allez </a> 
        </div>

        <div class="card rubrique m-5">
          <label class="card-title text-center">Add club</label>
          <a id='addpost' class="btn btn-dark" type="button" href="/clubs/add" > Allez </a> 
        </div>

        <div class="card rubrique m-5">
          <label class="card-title text-center">Add score</label>
          <a id='addscore' class="btn btn-dark" type="button" href="/score/add"> Allez </a> 
        </div>

        <div class="card rubrique m-5">
          <label class="card-title text-center">Ajouter une Equipe</label>
          <a id='addscore' class="btn btn-dark" type="button" href="/teams/add"> Allez </a> 
        </div>

      </div>

  </div>

  <!-- Listes -->
        <div class="card-body d-flex flex-wrap justify-content-center align-items-center containerCenter">


          <div class="card rubrique m-5">
            <label class="card-title text-center">Produits</label>
            <a id='actus' class="btn btn-primary" href="/products" type="button"> + </a> 
          </div>

          <div class="card rubrique m-5">
            <label class="card-title text-center">Equipes</label>
            <a id='actus' class="btn btn-primary" href="/teams" type="button"> + </a> 
          </div>

          <div class="card rubrique m-5">
            <label class="card-title text-center">Gymnases</label>
            <a id='gyms' class="btn btn-primary" href="/gyms" type="button"> + </a> 
          </div>

          <div class="card rubrique m-5">
            <label class="card-title text-center">Membres</label>
            <a id='gyms' class="btn btn-primary" href="/members" type="button"> + </a> 
          </div>

          <div class="card rubrique m-5">
            <label class="card-title text-center">Club</label>
            <a id='club' class="btn btn-success" type="button" href="/clubs" > Allez </a> 
          </div> 


          <div class="card rubrique m-5">
            <label class="card-title text-center">Tous les resultats</label>
            <a id='score' class="btn btn-success" type="button" href="/score" > Allez </a> 
          </div>

          <div class="card rubrique m-5">
            <label class="card-title text-center">Evenements</label>
            <a id='event' class="btn btn-success" type="button" href="/events" > Allez </a> 
          </div>

          <div class="card rubrique m-5">
            <label class="card-title text-center">Medias</label>
            <a id='medias' class="btn btn-success" type="button" href="/medias" > Allez </a> 
          </div>

        </div>
    </div>
  </div>
  <div class="card rubrique m-5">
    <label class="card-title text-center">Admins</label>
    <a id='admins' class="btn btn-success" type="button" href="/admins" > Allez </a> 
  </div>
  <!-- <script type="text/javascript" src="javascript/accueil.js" ></script> -->
</body>
</html>