<html>
<head>
  <title>Mon title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <button id='retour' class="btn btn-dark" type="button"> Retour </button> 
  <div class="container-fluid">
    <div class="d-flex flex-column align-items-center justify-content-center w-100" style="height:100vh;">
      <h1> Modifier Admin </h1>

      <form class="d-flex flex-column card w-50" method="post" action="/admins/updateAdmin/<%= admin._id %> ">
        <div class="card-body">
          <div class="form-group">
            <label>Email</label>
            <input name="email" class="form-control" type="email" value=" <%= admin.email %> " required/>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input name="password" id="password" class="form-control" type="password" placeholder="New password" required />
          </div>
          <div class="form-group">
            <label>Confirmer Password</label>
            <input id="confirmer" class="form-control" type="password" required />
          </div>
       
          <div>
            <button type="submit" class="btn btn-primary" >Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="/javascript/retour.js" ></script>
</body>
</html>