<html>
<head>
  <title>Mon title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <button id='retour' class="btn btn-dark" type="button"> Retour </button> 
  <div class="container-fluid">
    <div class="d-flex flex-column align-items-center justify-content-center w-100" style="height:100vh;">
      <h1> Modifier Evenement </h1>

      <form class="d-flex flex-column card w-50" method="post" action="/events/<%= event._id %>" >
        <div class="card-body">
          
            <div class="form-group">
              <label>Title</label>
              <input name="title" class="form-control" type="text" value="<%= event.title %>" />
            </div>

            <div class="form-group">
              <label>Content</label>
              <textarea name="content" class="form-control" value="<%= event.content %>" type="text">
              </textarea> 
            </div>

          <div class="form-group">
            <label>Picture</label>
            <input name="file" class="form-control" type='file'  />
          </div>

          <div class="form-group">
            <label>Date</label>
            <input name="date" class="form-control" type="datetime-local" value="<%= event.date %>" />
          </div>
          
          <div>
            <input type="submit" value="Submit" class="btn btn-primary" />
          </div>
        </div>
      </form>
      </div>
    </div>
    <script type="text/javascript" src="/javascript/retour.js" ></script>
</body>
</html>